$dark-grey:#424242;
$dark-grey-transparent:rgba(66, 66, 66, 0.7);
$table-header:rgba(99, 99, 99, 0.7);
$table-header-border:rgba(99, 99, 99, 0.7);
$text-white:#efefef;

.content {
  display:inline-block;
  height:100vh;
  width:100vw;
  overflow:hidden;
  position:relative;

  .overlay {
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index:100;
    pointer-events:none;

    .overlay-flex {
      display:flex;
      height:100%;
      width:100%;
      overflow:hidden;
      flex-direction: column;

      .header {
        display:inline-block;
        flex: 0 0 auto;
        min-height:0px;
        width:100%;

        .search-row {
          display:inline-block;
          width:100%;
          padding:2rem;
          text-align:center;

          .search-bar {
            display:inline-block;
            border-radius:100px;
            padding-left:2rem;
            padding-right:2rem;
            padding-top:0.4rem;
            padding-bottom:0.4rem;
            background-color:$dark-grey;
            color:$text-white;
            min-width:20rem;
            pointer-events: all;

            .search-bar-field {
              width:100%;
              font-size:0.1rem;

              ::ng-deep .mat-form-field-underline {
                display: none;
              }

              ::ng-deep input {
                font-size:0.8rem !important;
              }
            }

            .inner-search-bar {
              display:flex;
              align-items:center;

              .search-icon {
                margin-right:0.75rem;
                margin-left:-1rem;
                font-size:1.2rem;
                line-height:1.2;
              }

              input {
                background-color:transparent;
                color:$text-white;
                margin:0px;
                padding:0px;
                border: 0px solid black;
                box-shadow: none;
                outline:none;
                font-size:1rem;
              }
            }
          }
        }
      }

      .body {
        display:inline-block;
        flex: 1 1 auto;
        min-height:0px;
        padding:1rem;
        position:relative;

        .table-container:hover {
          background-color:$dark-grey;
        }

        .table-container {
          position:absolute;
          bottom:1rem;
          left:1rem;
          display:inline-block;
          // display:flex;
          // flex-direction:column;
          pointer-events:all;
          height:100%;
          // padding:1rem;
          background-color:$dark-grey-transparent;
          color:$text-white;
          // border-radius:12px;
          // border-radius:8px;
          max-width:33%;
          width:23%;
          height:35%;
          overflow-y:auto;
          margin-top:auto;

          transition:background-color 0.25s ease-out, width 0.25s ease-out;

          table {
            width:100%;
            border:0px solid transparent;
            margin:0px;

            th {
              font-weight:500;
              padding-right:0.75rem;
              padding-left:0.75rem;
              padding-top:0.5rem;
              padding-bottom:0.5rem;

              background-color:$table-header;
              width:33%;
            }

            th:first-child {
              text-align:left;
            }

            th:not(:last-child) {
              // border-right:1px solid $text-white;
              border-right:1px solid transparent;
            }

            tbody {
              padding-left:0.75rem;
              padding-right:0.75rem;

              tr {
                cursor:pointer;
                transition:background-color 0.25s ease-out;

                $table-radius:4px;

                td {
                  padding:0.6rem;

                  span {
                    font-weight:700;
                  }
                }

                td:first-child {
                  border-top-left-radius: $table-radius;
                  border-bottom-left-radius: $table-radius;
                  font-size:0.9rem;
                  text-align:left;
                }

                td:last-child {
                  border-top-right-radius: $table-radius;
                  border-bottom-right-radius: $table-radius;
                }
              }

              tr:not(:last-child) {
                td {
                  // border-bottom:1px solid #ccc;
                }
              }

              tr:hover {
                background-color:#333;

                td:not(:last-child) {
                  // border-right:1px solid #333;  
                  // border-left:0px solid black;
                }
              }
            }

            td {
              text-align:center;
              font-size:0.8rem;
              padding-right:0.75rem;
              padding-left:0.75rem;
              padding-top:0.25rem;
              padding-bottom:0.25rem;
            }
          }
        }
      }
    }
  }

  #mapid {
    height:100vh;
    width:100vw;
    z-index:50;
  }
}